<div class="channel" phx-click="change_current_channel" phx-value-channel_id="<%= @id %>">
    <div class="info">
        Channel <%= @id %> playing program <%= @channel.program %>
    </div>
    <div class="events">
        Some events here...
    </div>
</div>
