<div id="dashboard">
    <div id="overview">
        <div id="channels">

        </div>
        <div id="tracks">

        </div>
    </div>
    <div id="track">
        <div id="info">

        </div>
        <div id="events">

        </div>
    </div>
</div>
