:root {
    --bar-height: 3vh;
    --bar-width: 5vw;
    --note-count: 88; // The 88 keys on a piano.
    --events-height: calc(var(--bar-height) * var(--note-count));
}

body {
    margin: 0;
}

#dashboard {
    height: 100vh;
    width: 100vw;
}

#overview {
    height: 75%;
    background-color: burlywood;
    overflow-y: scroll;

    .channel {
        display: flex;
        height: 15vh;

        .info {
            flex: 2;
            background-color: antiquewhite;
        }

        .events {
            flex: 8;
            background-color: mistyrose;
        }
    }
}

#track {
    height: 25%;
    overflow-y: scroll;

    .scroll-container {
        height: calc(var(--note-count) * var(--bar-height));
        display: flex;

        .info {
            flex: 2;
            background-color: peachpuff;
        }

        .events {
            position: relative;
            flex: 8;
            background-color: black;
            background-image:
                repeating-linear-gradient(white 0 1px, transparent 1px 100%),
                repeating-linear-gradient(90deg, white 0 1px, transparent 1px 100%);
            background-size: 5vw 3vh;
        }
    }
}

.testje {
    position: absolute;
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: orangered;
    top: calc(var(--events-height) - (var(--note) - 20) * var(--bar-height));
}